<p>
  <a href="/">Home</a>
</p>

<h1>
  List of all listings
</h1>

<hr>

<article>
  <% if user_signed_in? %>
    <a href="/listings/new">
      Post a new listing
    </a>
  <% end %>
</article>

<hr>

<article>
  <ul>
    <% @list_of_listings.each do |a_listing| %>
      <li>
        <a href="/listings/<%= a_listing.id %>">
          <%= a_listing.title.presence || "Listing ##{a_listing.id}" %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
